/* Import var */
@import './var.scss';

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: none;
}

/* General */
body {
    background-color: $background;
    font-family: $font-main;
    color: $text-color;
    font-size: 18px;
}

.px-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.debug {
    border: 1px solid red;
}