/* Color */
$background: hsl(226, 43%, 10%);
$front-card: hsl(235, 46%, 20%);
$user-color: hsl(246, 80%, 60%);

$active-card: hsl(235, 45%, 61%);

$work-color: hsl(15, 100%, 70%);
$play-color: hsl(195, 74%, 62%);
$study-color: hsl(348, 100%, 68%);
$exercise-color: hsl(145, 58%, 55%);
$social-color: hsl(264, 64%, 52%);
$self-color: hsl(43, 84%, 65%);

$text-color: #fff;

$subtext-color: hsl(236, 100%, 87%);


/* Typography */
$font-main: 'Rubik', sans-serif;